<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <div class="container">
                <br>
                <h1 class="heading text-center text-decoration-underline">
                    <%= pageTitle %>
                </h1>
                <br>
                <% if (orders.length <=0) { %>
                    <h1>Nothing there!</h1>
                    <% } else { %>
                        <ul class="list-group list-group-numbered">
                            <% orders.forEach(order=> { %>
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto">
                                        <p class="fw-bold">Order - # <%= order._id %>
                                             - <a href="order/<%= order.id %> ">Invoice</a>
                                        </p>
                                        <ul class="orders__products">
                                            <% order.products.forEach(p=> { %>
                                                <li class="orders__products-item">
                                                    <%= p.product.title %> (<%= p.quantity %>)
                                                </li>
                                                <% }); %>
                                        </ul>
                                </li>
                                <% }); %>
                        </ul>
                        <% } %>
                    </div>
            <%- include('../includes/end.ejs') %>