<%- include('../includes/head.ejs') %>
        </head>

        <body>
                <%- include('../includes/nav.ejs') %>
                        <div class="container" style="padding: 1rem;">
                                <div class="card mb-3">
                                        <img src="/<%= product.image %> " class="card-img-top" alt="..."
                                                style="height: 70vh;">
                                        <div class="card-body">
                                                <h5 class="card-title">
                                                        <%= product.title %>
                                                </h5>
                                                <small>
                                                        Rs. <%= product.price %>
                                                </small>
                                                <p class="card-text">
                                                        <%= product.description %>
                                                </p>
                                                <% if(isAuthenticated){ %>
                                                        <form action="/add-to-cart" method="post" style="width: 100%;">
                                                                <input type="hidden" name="productId"
                                                                        value="<%= product._id %>" />
                                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                                <button class="btn btn-info" style="width: 100%;"
                                                                        type="submit">Add To Cart</button>
                                                        </form>
                                                        <% } %>   
                                        </div>
                                </div>
                                
                        </div>
                        <%- include('../includes/end.ejs') %>

